.navClass {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin: 0px auto;
  position: fixed;
  background-color: #000;
  color: #fff;
  z-index: 100;
}

@media (max-width: 426px) {
  .navClass {
    display: flex;
    flex-direction: row;
    height: auto;
  }
}