.rightChooseClass {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 0 100px;
}

@media (max-width: 1025px) {
  .rightChooseClass {
    margin: 60px 0;
  }
}

@media (max-width: 769px) {}

@media (max-width: 426px) {
  .rightChooseClass {
    flex-direction: column;
  }
}

@media (max-width: 376px) {}

@media (max-width: 321px) {}