.leftProgressClass .firstProgress {
  margin: 25px;
} 

.leftProgressClass label {
  font-size: 15px;
  margin-bottom: 10px;
}

@media (max-width: 1025px) {
  .leftProgressClass label {
    font-size: 13px;
  }
}

@media (max-width: 769px) {
  
}

@media (max-width: 426px) {
  
}

@media (max-width: 376px) {
  
}

@media (max-width: 321px) {
  
}