.CommentElementsClass {
  border: 1px solid black;
  padding: 50px;
}

.CommentElementsClass .card {
  border: 1px solid #164031;
  border-radius: 8px;
  padding: 50px;
}

@media (max-width: 376px) {
  .CommentElementsClass {
    padding: 10px;
  }
}