.mainContactClass {
  display: flex;
  flex-direction: row;
background-color: rgba(0, 0, 0,0.8);
  height: 100vh;
  width: 100vw;
  align-items: center;
  padding: 30px;
}

.mainContactClass div {
  flex: 50%;
}

@media (max-width: 769px) {
  .mainContactClass {
    flex-direction: column;
    height: auto;
    padding: 30px;
  }

  .mainContactClass div {
    flex: 100%;
  }
}

